/* Profile Nav */
ul.dropdown-menu {
    background: #2DBF74;
    border: none;
    border-radius: 0;
}
ul.dropdown-menu {
    padding: 0;
}
ul.dropdown-menu li a {
    color: #ffffff;
    padding: 15px;
}
ul.dropdown-menu li a:hover {
    color: #ffffff;
    background: #57CC90;
}
/* Primary Nav */
.page-header-menu {
    color: #ffffff;
    background: #2DBF74;
}
.page-header-menu li a {
    color: #ffffff;
}
.page-header-menu li a:hover {
    background: #57CC90;
}

/* Alternative Nav */
.alt-navbar {
    background-color: #fff;
    padding: 30px;
}
.alt-navbar .navbar-header {
    display: inline-block;
    padding-bottom: 15px;
}
.alt-navbar .navbar-brand {
    left: calc(50% - 70px);
    margin-bottom: 15px;
    padding-top: 0;
    position: absolute;
}
.alt-navbar .navbar-brand img {
    display: inline-block;
    width: 140px;
}
.alt-navbar .navbar-nav > li > a {
    color: #383838;
    font-size: 16px;
}
.alt-navbar .navbar-nav > li > a:hover {
    color: #2DBF74;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
    .page-header-menu {
        padding: 0;
    }
    .page-header-menu #primary-nav {
        padding: 0;
    }
}
/* Breadcrumb */
ol.breadcrumb {
    padding: 15px;
    border-radius: 0;
    background: #EDEDED;
}
.breadcrumb > li + li:before {
    content: "\003e";
}
