.panel {
    border-radius: 0;
}
a.panel {
    display: block;
}
a.panel:hover {
    text-decoration: none;
    background-color: #EDEDED;
}
a.panel:focus {
    text-decoration: none;
}
.panel .glyphicon-bell {
    color: #c7254e;
    font-size: 18px;
    margin-left: -18px;
}
.panel-default .panel-footer, .panel-default .panel-heading {
    text-align: center;
    background-color: transparent;
    border: none;
}
.panel-title {
    background-color: transparent;
}
.panel-lead {
    font-size: 42px;
    line-height: 132px;
    text-align: center;
}
.panel-lead img {
    max-height: 100px;
    margin: 16px auto;
}
